.wpr{
  width: 80vw;
  margin: 10px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px,250px));
}
.img{
  width: 250px;
  aspect-ratio: 1;
  border: 2px solid lightgrey;
}
img{
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.s-wpr{
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  margin: 10px;
  border: 0;
  border-radius: 50px;
  outline:3px solid lightgray;
}
input:focus{
  outline: 4px solid grey;
}
.search {
  margin: 1vw;
  padding: 5px;
  margin-left: 0;
}
.circle {
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50px;
  border: 3px solid grey;
  position: relative;
}
.circle::before {
  display: block;
  content: "";
  position: absolute;
  width: 85%;
  height:3px ;
  background: grey;
  top: 100%;
  left: 80%;
  transform: rotate(45deg);
}
.l-wpr{
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: black;
}
.l-img{
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
