.wpr {
  width: 90vw;
  margin: 30px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  grid-gap: 20px;
}
.img {
  width: 250px;
  aspect-ratio: 1;
  border: 5px solid white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
img {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}
.s-wpr {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b1d3d;
  height: 60px;
}
.input1 {
  border: 0;
  border-radius: 50px;
  outline: 1px solid lightgray;
  padding: 10px;
}
input:focus {
  outline: 2px solid white;
}
.search {
  margin-left: 10px;
}
.search > i {
  color: white;
}
.l-wpr {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.8);
}
.l-img {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.ll-img {
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cross {
  position: fixed;
  right: 10px;
  top: 10px;
}
.right {
  position: fixed;
  right: 10px;
  top: 50%;
}
.left {
  position: fixed;
  left: 10px;
  top: 50%;
}
.cross,
.right,
.left {
  background: #22223b;
  padding: 15px;
  color: white;
  border-radius: 50px;
}
@media (min-aspect-ratio: 1/1) {
  .l-img {
    width: auto;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ll-img {
    width: auto;
    height: 100%;
  }
}
.description {
  width: auto;
  padding: 10px;
  text-align: center;
  background: white;
  color: #22223b;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.l-wpr > form{
   width: clamp(20px,80vw,500px);
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 50vh;
  border-radius: 10px;
}
.l-wpr > form > input{
  width: 80%;
   padding: 20px;
   margin: 20px 0;
   border: 1px solid black;
   font-size: 20px;
}
button{
  padding: 10px;
  background: #0b1b3d;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
.upload{
  padding: 15px;
   font-size: 20px;
  background: #0b1b3d;
  color: white;
  border-radius: 50px;

}
.u-wpr{
  margin: 50px;
  text-align: center;
}
