<div class="s-wpr">
  <input class="input1" placeholder="Search" #f (search)="search(f.value)" type="search" />
  <a class="search" (click)="search(f.value)">
    <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
  </a>
</div>
<div class="wpr">
  <div *ngFor="let d of data; let i = index" class="img">
    <img (click)="openLightBox(i)" src="http://localhost:4040/{{ d.url }}" alt="" />
  </div>
</div>
<div *ngIf="openCheck" class="l-wpr">
  <div class="l-img">
    <p class="description">{{ Description }}</p>
    <img class="ll-img" src="http://localhost:4040/{{ Img }}" alt="" />
  </div>
  <a class="cross" (click)="openCheck=false">
    <i class="fa-solid fa-xmark fa-2xl"></i>
  </a>
  <a [ngClass]="{ disabled: rightCheck == false }" class="right" (click)="openLightBox(ii + 1)">
    <i class="fa-solid fa-angle-right fa-2xl"></i>
  </a>
  <a [ngClass]="{ disabled: leftCheck == false }" class="left" (click)="openLightBox(ii - 1)">
    <i class="fa-solid fa-angle-left fa-2xl"></i>
  </a>
</div>
<div class="u-wpr">
<a class="upload" (click)="formOpen=true">Add Images</a>
</div>
<div *ngIf="formOpen" class="l-wpr">
  <form #form="ngForm" (ngSubmit)="formPost(form)" enctype="multipart/form-data">
    <h3>Upload Image</h3>
    <input #description="ngModel" placeholder="Description" type="text" name="description" />
    <input type="file" name="image" />
    <button type="submit">Upload</button>
  </form>
  <a class="cross" (click)="formOpen=false">
    <i class="fa-solid fa-xmark fa-2xl"></i>
  </a>
</div>
