<div class="s-wpr">
  <input #f (search)="search(f.value)" type="search" />
  <a class="search" (click)="search(f.value)">
    <div class="circle"></div>
  </a>
</div>
<div class="wpr">
  <div *ngFor="let d of data; let i = index" class="img">
    <img
      (click)="openLightBox(i)"
      src="http://localhost:4040/{{ d.url }}"
      alt=""
    />
  </div>
</div>
<div *ngIf="openCheck" class="l-wpr">
  <div class="l-img">
    <img class="ll-img" src="http://localhost:4040/{{ Img }}" alt="" />
    <p class="description">{{ Description }}</p>
    <a class="cross" (click)="close()">
      <i class="fa-solid fa-xmark fa-2xl"></i>
    </a>
    <a *ngIf="rightCheck" class="right" (click)="openLightBox(ii + 1)">
      <i class="fa-solid fa-angle-right fa-2xl"></i>
    </a>
    <a *ngIf="leftCheck" class="left" (click)="openLightBox(ii - 1)">
      <i class="fa-solid fa-angle-left fa-2xl"></i>
    </a>
  </div>
</div>
